In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/Users/harshit/Downloads/Research-Commons-Quant/automated-memetoken-index-pipeline/dataframes/may25/RATO.csv')

In [6]:
df.head()

,timestamp,open,high,low,close,volume,trades,return,log_return,cumulative_return,sharpe_ratio,cum_max,drawdown,turnover
0,2025-06-03 00:00:00+00:00,0.000011,0.000013,0.000009,0.000011,6.366919e+05,846,0.349073,0.299418,0.349073,2.180474,0.000011,0.000000,5.980594e+10
1,2025-06-02 00:00:00+00:00,0.000010,0.000010,0.000008,0.000010,8.964993e+05,1061,-0.100059,-0.105426,0.214086,2.180474,0.000011,-0.100059,9.357307e+10
2,2025-06-01 00:00:00+00:00,0.000009,0.000011,0.000008,0.000009,8.541279e+05,1111,-0.028473,-0.028886,0.179518,2.180474,0.000011,-0.125683,9.176329e+10
3,2025-05-31 00:00:00+00:00,0.000008,0.000010,0.000008,0.000008,7.953648e+05,1057,-0.114713,-0.121844,0.044211,2.180474,0.000011,-0.225979,9.652249e+10
4,2025-05-30 00:00:00+00:00,0.000011,0.000014,0.000010,0.000010,1.030002e+06,1136,0.223450,0.201675,0.277540,2.180474,0.000011,-0.053024,1.021678e+11

In [5]:
df.shape

(27, 14)