In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/harshit/Downloads/Research-Commons-Quant/automated-memetoken-index-pipeline/dataframes/jan24/PORK.csv')

In [3]:
df.head()

,timestamp,open,high,low,close,volume,trades,return,log_return,cumulative_return,sharpe_ratio,cum_max,drawdown,turnover
0,2025-06-03 00:00:00+00:00,2.023387e-08,2.296991e-08,1.775935e-08,2.107030e-08,40002.523636,136,-0.008547,-0.008584,-0.008547,2.004554,2.125195e-08,-0.008547,1.898526e+12
1,2025-06-02 00:00:00+00:00,2.217172e-08,2.238987e-08,1.819671e-08,2.230909e-08,40846.749013,142,0.058793,0.057130,0.049743,2.004554,2.230909e-08,0.000000,1.830946e+12
2,2025-06-01 00:00:00+00:00,2.096026e-08,2.306513e-08,2.007736e-08,2.215413e-08,15910.582854,82,-0.006946,-0.006971,0.042452,2.004554,2.230909e-08,-0.006946,7.181769e+11
3,2025-05-31 00:00:00+00:00,2.292818e-08,2.316419e-08,1.881831e-08,2.232551e-08,14970.167571,91,0.007736,0.007706,0.050516,2.004554,2.232551e-08,0.000000,6.705410e+11
4,2025-05-30 00:00:00+00:00,2.335677e-08,2.443357e-08,2.277067e-08,2.319285e-08,17091.151050,114,0.038850,0.038114,0.091328,2.004554,2.319285e-08,0.000000,7.369146e+11

In [4]:
df.shape

(399, 14)